## Contents
    4.8 Task questions

### Q1.

In [1]:
# import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# create path

path = r'/Users/jonathanfava/07-2022 Instacart Basket Analysis'

In [4]:
# import df from E4.8

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_produts_E4.8'))

In [5]:
# check df

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,time_of_order,...,add_to_cart_order,reordered,_merge,prices_range_loc,price_range_loc,busiest day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5.0,0.0,both,NaN,Mid range product,Regularly Busy,Slowest days,Most Orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1.0,1.0,both,NaN,Mid range product,Regularly Busy,Slowest days,Average Orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20.0,0.0,both,NaN,Mid range product,Busiest day,Busiest days,Average Orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10.0,0.0,both,NaN,Mid range product,Regularly Busy,Slowest days,Most Orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11.0,1.0,both,NaN,Mid range product,Least busy,Slowest days,Average Orders,3,New customer

### Q2.

In [7]:
# create a agg mean for order_number grouped by department_id for entire df

ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

 ### Q3. The results are fairly similar with department 21 having the highest average value. But, the lowest average changed from department 12 in the subset to department 5.

### Q4. Did this in the exercise

In [9]:
# to show lotalty_flag column added

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,time_of_order,...,add_to_cart_order,reordered,_merge,prices_range_loc,price_range_loc,busiest day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5.0,0.0,both,NaN,Mid range product,Regularly Busy,Slowest days,Most Orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1.0,1.0,both,NaN,Mid range product,Regularly Busy,Slowest days,Average Orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20.0,0.0,both,NaN,Mid range product,Busiest day,Busiest days,Average Orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10.0,0.0,both,NaN,Mid range product,Regularly Busy,Slowest days,Most Orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11.0,1.0,both,NaN,Mid range product,Least busy,Slowest days,Average Orders,3,New customer

### Q5.

In [10]:
# statistics for loyalty categories

ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

### Q6.

In [15]:
# create column for avg spent by customer

ords_prods_merge['avg_spent'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [14]:
# check output

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,time_of_order,...,reordered,_merge,prices_range_loc,price_range_loc,busiest day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spent
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,0.0,both,NaN,Mid range product,Regularly Busy,Slowest days,Most Orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1.0,both,NaN,Mid range product,Regularly Busy,Slowest days,Average Orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,0.0,both,NaN,Mid range product,Busiest day,Busiest days,Average Orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,0.0,both,NaN,Mid range product,Regularly Busy,Slowest days,Most Orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,1.0,both,NaN,Mid range product,Least busy,Slowest days,Average Orders,3,New customer,4.972414

In [16]:
# create spending flag column

ords_prods_merge.loc[ords_prods_merge['avg_spent'] < 10, 'spending_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['avg_spent'] >= 10, 'spending_flag'] = 'High spender'

In [17]:
# check output

ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [18]:
# check output

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,time_of_order,...,_merge,prices_range_loc,price_range_loc,busiest day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spent,spending_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,both,NaN,Mid range product,Regularly Busy,Slowest days,Most Orders,32,Regular customer,6.935811,Low spender
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,both,NaN,Mid range product,Regularly Busy,Slowest days,Average Orders,32,Regular customer,6.935811,Low spender
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,both,NaN,Mid range product,Busiest day,Busiest days,Average Orders,5,New customer,7.930208,Low spender
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,both,NaN,Mid range product,Regularly Busy,Slowest days,Most Orders,3,New customer,4.972414,Low spender
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,both,NaN,Mid range product,Least busy,Slowest days,Average Orders,3,New customer,4.972414,Low spender

### Q7.

In [23]:
pd.options.display.max_columns = None

In [25]:
# create column for median days since prior order 

ords_prods_merge['med_ord_freq'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [27]:
# check output

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,time_of_order,days_since_prior_order,returning_customer,add_to_cart_order,reordered,_merge,prices_range_loc,price_range_loc,busiest day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spent,spending_flag,med_ord_freq
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,True,5.0,0.0,both,NaN,Mid range product,Regularly Busy,Slowest days,Most Orders,32,Regular customer,6.935811,Low spender,8.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,True,1.0,1.0,both,NaN,Mid range product,Regularly Busy,Slowest days,Average Orders,32,Regular customer,6.935811,Low spender,8.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,True,20.0,0.0,both,NaN,Mid range product,Busiest day,Busiest days,Average Orders,5,New customer,7.930208,Low spender,8.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,False,10.0,0.0,both,NaN,Mid range product,Regularly Busy,Slowest days,Most Orders,3,New customer,4.972414,Low spender,9.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,True,11.0,1.0,both,NaN,Mid range product,Least busy,Slowest days,Average Orders,3,New customer,4.972414,Low spender,9.0

In [28]:
# create frequency flag column

ords_prods_merge.loc[ords_prods_merge['med_ord_freq'] > 20, 'frequency_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['med_ord_freq'] <= 20) & (ords_prods_merge['med_ord_freq'] > 10), 'frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['med_ord_freq'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [29]:
# check output

ords_prods_merge['frequency_flag'].value_counts(dropna = False)

Frequent customer    21559853
Regular customer      7208564
Loyal customer        3636437
NaN                         5
Name: frequency_flag, dtype: int64

In [31]:
# check output

ords_prods_merge.head(100)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,time_of_order,days_since_prior_order,returning_customer,add_to_cart_order,reordered,_merge,prices_range_loc,price_range_loc,busiest day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spent,spending_flag,med_ord_freq,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,True,5.0,0.0,both,NaN,Mid range product,Regularly Busy,Slowest days,Most Orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,True,1.0,1.0,both,NaN,Mid range product,Regularly Busy,Slowest days,Average Orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,True,20.0,0.0,both,NaN,Mid range product,Busiest day,Busiest days,Average Orders,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,False,10.0,0.0,both,NaN,Mid range product,Regularly Busy,Slowest days,Most Orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,True,11.0,1.0,both,NaN,Mid range product,Least busy,Slowest days,Average Orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,Chocolate Sandwich Cookies,61,19,5.8,602103,10831,8,3,11,23.0,True,5.0,0.0,both,NaN,Mid range product,Regularly Busy,Slowest days,Most Orders,10,New customer,7.494286,Low spender,23.0,Loyal customer
96,1,Chocolate Sandwich Cookies,61,19,5.8,49629,11119,18,1,14,30.0,True,1.0,0.0,both,NaN,Mid range product,Regularly Busy,Busiest days,Most Orders,23,Regular customer,5.878641,Low spender,13.0,Regular customer
97,1,Chocolate Sandwich Cookies,61,19,5.8,317888,11186,13,5,16,2.0,True,8.0,0.0,both,NaN,Mid range product,Regularly Busy,Slowest days,Most Orders,26,Regular customer,6.618085,Low spender,6.0,Frequent customer
98,1,Chocolate Sandwich Cookies,61,19,5.8,682486,11243,16,3,13,0.0,True,2.0,0.0,both,NaN,Mid range product,Regularly Busy,Slowest days,Most Orders,43,Loyal customer,5.927149,Low spender,6.0,Frequent customer
99,1,Chocolate Sandwich Cookies,61,19,5.8,2861386,11448,10,2,15,3.0,True,6.0,0.0,both,NaN,Mid range product,Regularly Busy,Regularly Busy,Most Orders,21,Regular customer,5.981250,Low spender,14.0,Regular customer

In [32]:
# export as pickle

ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_produts_grouped.pkl'))